.add-item {
    margin-top: 10px;
    text-align: center;
}

input.add-item-input {
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    top: 7px;
    width: 75%;
}

button.add-item.btn.btn-primary {
    margin-left: 7px;
}
